@media (max-width: 767px) {
  .p_c__blogCard {
    margin-bottom: 25px;
    padding: 25px;
  }
  .p_c__blogCard .p__title__link .p__title {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 26px;
  }
  .p_c__blogCard .p__excerpt {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .p_c__blogCard {
    width: calc((100% - 40px) / 2);
    margin-bottom: 25px;
    padding: 25px;
  }
  .p_c__blogCard .p__meta {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .p_c__blogCard .p__title__link .p__title {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 28px;
  }
  .p_c__blogCard .p__excerpt {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .p_c__blogCard {
    width: 100%;
    max-width: calc((100% - 60px) / 2);
    margin-bottom: 35px;
    padding: 35px;
  }
  /* .p_c__blogCard .p__meta {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
  } */
  .p_c__blogCard .p__title__link .p__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  .p_c__blogCard .p__excerpt {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1366px) {
  .p_c__blogCard {
    width: 526px;
    min-height: 400px;
    margin-bottom: 35px;
    padding: 45px;
  }
  /* .p_c__blogCard .p__meta {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
  } */
  .p_c__blogCard .p__title__link .p__title {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 38px;
  }
  .p_c__blogCard .p__excerpt {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 24px;
  }
}
