
.p_c__blogCard  // Blog Grid card
    display: flex
    flex-direction: column
    justify-content: space-between
    border: 1px solid hsla(0, 0%, 0%, 0.12)
    &:hover
        border: 1px solid #000000
    .p__meta
        font-family: "NHaasGroteskDSPro"
        font-weight: bold
        color: rgba(0, 12, 25, 0.7)
    .p__title__link
        text-decoration: none
        .p__title
            color: #000C19
            font-family: "NHaasGroteskDSPro"
            font-weight: black
        &:hover
            // text-decoration: underline
            .p__title
                color: #717171
    .p__excerpt
        color: rgba(77, 77, 77, 0.8)
        font-family: 'Neue Haas Grotesk Display Pro'
        font-weight: normal
        font-size: 13px
    .p__readmore
        font-family: "NHaasGroteskDSPro"
        text-decoration: underline
        color: #000C19
        font-weight: bold
        font-size: 12px
        line-height: 18px
        text-transform: uppercase
        &:hover
            color: #717171

@media (max-width: 767px)
    .p_c__blogCard
        margin-bottom: 25px
        padding: 25px
        &:hover
        .p__meta
            margin-bottom: 6px
            font-size: 10px
            line-height: 12px

        .p__title__link
            .p__title
                margin-bottom: 15px
                font-size: 22px
                line-height: 26px
        .p__excerpt
            margin-bottom: 25px
            font-size: 14px
            line-height: 20px
        .p__readmore
            &:hover

@media screen and (min-width: 768px) and (max-width: 1023px)
    .p_c__blogCard  // Blog Grid card
        // width: 335px
        width: calc( (100% - 40px) / 2 )
        margin-bottom: 25px
        padding: 25px
        &:hover
        .p__meta
            margin-bottom: 6px
            font-size: 12px
            line-height: 14px
        .p__title__link
            &:hover
                .p__title
            .p__title
                margin-bottom: 15px
                font-size: 22px
                line-height: 28px
        .p__excerpt
            margin-bottom: 25px
            font-size: 14px
            line-height: 18px
        .p__readmore
            &:hover

@media screen and (min-width: 1024px) and (max-width: 1365px)
    .p_c__blogCard  // Blog Grid card
        width: 100%
        max-width: calc(( 100% - 60px ) /2)
        margin-bottom: 35px
        padding: 35px
        &:hover
        .p__meta
            margin-bottom: 10px
            font-size: 12px
            line-height: 14px
        .p__title__link
            &:hover
                .p__title
            .p__title
                margin-bottom: 20px
                font-size: 24px
                line-height: 30px
        .p__excerpt
            margin-bottom: 35px
            font-size: 14px
            line-height: 22px
        .p__readmore
            &:hover

@media screen and (min-width: 1366px)
    .p_c__blogCard  // Blog Grid card
        width: 526px
        min-height: 400px
        margin-bottom: 35px
        padding: 45px
        &:hover
        .p__meta
            margin-bottom: 10px
            font-size: 12px
            line-height: 14px
        .p__title__link
            &:hover
                .p__title
            .p__title
                margin-bottom: 22px
                font-size: 30px
                line-height: 38px
        .p__excerpt
            margin-bottom: 35px
            font-size: 15px
            line-height: 24px
        .p__readmore
            &:hover
