.border--b--motion {
  @apply relative;
}
.border--b--motion:after {
  @apply absolute block bottom-0 left-0 w-full h-[1px] border-b z-[1] scale-x-0 origin-[center_right];
  content: "";
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.border--b--motion:hover:after,
.border--b--motion:active:after {
  @apply scale-x-100 origin-[center_left];
  transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
