@font-face {
  font-family: "CCI";
  src: url("../assets/fonts/CascadiaCode/CascadiaCodeItalic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "NHaasGroteskDSPro";
  src: url("../assets/fonts/NHaasGroteskDSPro/NHaasGroteskDSPro-75Bd.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NHaasGroteskDSPro";
  src: url("../assets/fonts/NHaasGroteskDSPro/NHaasGroteskDSPro-95Blk.otf");
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: "NHaasGroteskTXPro";
  src: url("../assets/fonts/NHaasGroteskTXPro/NHaasGroteskTXPro-55Rg.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplay-Mediu.eot");
  src:
    local("NeueHaasDisplay-Mediu"),
    url("/fonts/NeueHaasDisplay-Mediu.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueHaasDisplay-Mediu.woff2") format("woff2"),
    url("/fonts/NeueHaasDisplay-Mediu.woff") format("woff"),
    url("/fonts/NeueHaasDisplay-Mediu.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplay-RomanItalic.eot");
  src:
    local("NeueHaasDisplay-RomanItalic"),
    url("/fonts/NeueHaasDisplay-RomanItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/NeueHaasDisplay-RomanItalic.woff2") format("woff2"),
    url("/fonts/NeueHaasDisplay-RomanItalic.woff") format("woff"),
    url("/fonts/NeueHaasDisplay-RomanItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplay-MediumItalic.eot");
  src:
    local("NeueHaasDisplay-MediumItalic"),
    url("/fonts/NeueHaasDisplay-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/NeueHaasDisplay-MediumItalic.woff2") format("woff2"),
    url("/fonts/NeueHaasDisplay-MediumItalic.woff") format("woff"),
    url("/fonts/NeueHaasDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplay-Roman.eot");
  src:
    local("NeueHaasDisplay-Roman"),
    url("/fonts/NeueHaasDisplay-Roman.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueHaasDisplay-Roman.woff2") format("woff2"),
    url("/fonts/NeueHaasDisplay-Roman.woff") format("woff"),
    url("/fonts/NeueHaasDisplay-Roman.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplay-BoldItalic.eot");
  src:
    local("NeueHaasDisplay-BoldItalic"),
    url("/fonts/NeueHaasDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/NeueHaasDisplay-BoldItalic.woff2") format("woff2"),
    url("/fonts/NeueHaasDisplay-BoldItalic.woff") format("woff"),
    url("/fonts/NeueHaasDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplay-LightItalic.eot");
  src:
    local("NeueHaasDisplay-LightItalic"),
    url("/fonts/NeueHaasDisplay-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/NeueHaasDisplay-LightItalic.woff2") format("woff2"),
    url("/fonts/NeueHaasDisplay-LightItalic.woff") format("woff"),
    url("/fonts/NeueHaasDisplay-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplay-Bold.eot");
  src:
    local("NeueHaasDisplay-Bold"),
    url("/fonts/NeueHaasDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueHaasDisplay-Bold.woff2") format("woff2"),
    url("/fonts/NeueHaasDisplay-Bold.woff") format("woff"),
    url("/fonts/NeueHaasDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplay-Light.eot");
  src:
    local("NeueHaasDisplay-Light"),
    url("/fonts/NeueHaasDisplay-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueHaasDisplay-Light.woff2") format("woff2"),
    url("/fonts/NeueHaasDisplay-Light.woff") format("woff"),
    url("/fonts/NeueHaasDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/**
 * Typography
 */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-Thin.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-ThinItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-Roman.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-RomanItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-Black.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NHD-BlackItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
