@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

@layer base {
     html, body {
        @apply font-sans;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-primary font-bold;
    }
}
