@import "./fonts.css";
@import "./table.style.css";
@import "./single.style.css";
@import "./animation.css";

::selection {
  color: #ffffff;
  background: #000000;
}

body {
  font-family: "Neue Haas Grotesk Display Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 16px;
  color: #4d4d4d;
  background: #ffffff;
}

@media (max-width: 767px) {
  .p_header .p__subtitle {
    font-size: 28px;
    line-height: 34px;
  }
  .p_content {
    padding: 0 30px;
    flex-direction: column;
    gap: 50px;
  }
  .p_content .p__right .p_right_content .p__title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 22px;
  }
  .p_content .p__right .p_right_content .p__list li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
  }
  .p_content .p__right .p_right_content .p__list li a {
    font-size: 14px;
    line-height: 24px;
  }
  .p_content .p__right .p_right_content p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .p_header .p__subtitle {
    max-width: 526px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    line-height: 34px;
  }
  .p_content {
    padding: 0 50px;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    gap: 50px;
  }
  .p_content .p__left {
    width: 100%;
    max-width: 526px;
  }
  .p_content .p__right {
    width: 100%;
    max-width: 526px !important;
  }
  .p_content .p__right .p_right_content .p__title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 22px;
  }
  .p_content .p__right .p_right_content .p__list li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
  }
  .p_content .p__right .p_right_content .p__list li a {
    font-size: 14px;
    line-height: 24px;
  }
  .p_content .p__right .p_right_content p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .p_header .p__subtitle {
    font-size: 28px;
    line-height: 34px;
  }
  .p_content {
    padding: 0 80px;
    gap: 50px;
  }
  .p_content .p__right .p_right_content .p__title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 22px;
  }
  .p_content .p__right .p_right_content .p__list li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
  }
  .p_content .p__right .p_right_content .p__list li a {
    font-size: 14px;
    line-height: 24px;
  }
  .p_content .p__right .p_right_content p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 1366px) {
  .p_header .p__subtitle {
    font-size: 32px;
    line-height: 34px;
  }
  .p_content .p__left {
    max-width: 526px;
  }
  .p_content .p__right {
    max-width: 449px;
  }
  .p_content .p__right .p_right_content .p__title {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 6px;
    font-size: 14px;
    line-height: 22px;
  }
  .p_content .p__right .p_right_content .p__list {
    list-style: none;
  }
  .p_content .p__right .p_right_content .p__list li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .p_content .p__right .p_right_content .p__list li a {
    font-size: 16px;
    line-height: 24px;
  }
  .p_content .p__right .p_right_content p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

.p_navaigation_articles .p_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p_navaigation_articles .p_content .p_c__blogCard {
  width: 100%;
  max-width: 526px;
}

@media (max-width: 767px) {
  .p_navaigation_articles {
    padding: 40px 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .p_navaigation_articles {
    padding: 60px 0;
  }
  .p_navaigation_articles .p_content {
    flex-direction: row;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .p_navaigation_articles {
    padding: 80px 0;
  }
}

@media (min-width: 1366px) {
  .p_navaigation_articles {
    padding: 100px 0;
  }
}
