.markdown .p_container_single {
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.markdown .p_container_single p,
.markdown .p_container_single h1,
.markdown .p_container_single h2,
.markdown .p_container_single h3,
.markdown .p_container_single h4,
.markdown .p_container_single h5,
.markdown .p_container_single h6,
.markdown .p_container_single blockquote,
.markdown .p_container_single ul {
  width: 100%;
  max-width: 710px;
  margin-right: auto;
  margin-left: auto;
}
.markdown .p_container_single h1,
.markdown .p_container_single h2,
.markdown .p_container_single h3,
.markdown .p_container_single h4,
.markdown .p_container_single h5,
.markdown .p_container_single h6,
a {
  font-family: ;
  color: #000c19;
}
.markdown .p_container_single blockquote {
  font-family: ;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #000000;
  background: #f4f6f6;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.markdown .p_container_single pre,
.markdown .p_container_single code {
  font-family: "CCI";
}
.markdown .p_container_single pre {
  width: 100%;
  max-width: 710px;
  color: #aeaeae;
  background: #0b0b0c;
  overflow-x: auto;
}
.markdown .p_container_single .p_2c_img {
  width: 100%;
  max-width: 862px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.markdown .p_container_single .p_2c_img .p_2c_left {
  width: 100%;
  max-width: 413px;
  height: auto;
}
.markdown .p_container_single .p_2c_img .p_2c_right {
  width: 100%;
  max-width: 413px;
  height: auto;
}
.markdown .p_container_single .p_1c_img {
  width: 100%;
  max-width: 862px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .markdown .p_container_single {
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .markdown .p_container_single p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 25px;
  }
  .markdown .p_container_single ul {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 25px;
  }
  .markdown .p_container_single h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 34px;
  }
  .markdown .p_container_single blockquote {
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 30px;
    font-size: 16px;
    line-height: 23px;
  }
  .markdown .p_container_single pre {
    margin: 25px auto 35px auto;
    padding: 35px;
    font-size: 14px;
    line-height: 22px;
  }
  .markdown .p_container_single .p_2c_img {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .markdown .p_container_single .p_1c_img {
    margin: 35px auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .markdown .p_container_single {
    margin: 0 auto;
    padding: 60px 50px 0px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .markdown .p_container_single p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 25px;
  }
  .markdown .p_container_single ul {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 25px;
  }
  .markdown .p_container_single h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 34px;
  }
  .markdown .p_container_single blockquote {
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 30px;
    font-size: 16px;
    line-height: 23px;
  }
  .markdown .p_container_single pre {
    margin: 25px auto 35px auto;
    padding: 35px;
    font-size: 14px;
    line-height: 22px;
  }
  .markdown .p_container_single .p_2c_img {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 30px;
  }
  .markdown .p_container_single .p_1c_img {
    margin: 35px auto;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .markdown .p_container_single {
    margin: 0 auto;
    padding: 60px 50px 0px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .markdown .p_container_single p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 25px;
  }
  .markdown .p_container_single ul {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 25px;
  }
  .markdown .p_container_single h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 34px;
  }
  .markdown .p_container_single blockquote {
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 30px;
    font-size: 16px;
    line-height: 23px;
  }
  .markdown .p_container_single pre {
    margin: 25px auto 35px auto;
    padding: 35px;
    font-size: 14px;
    line-height: 22px;
  }
  .markdown .p_container_single .p_2c_img {
    margin: 20px auto;
    gap: 30px;
  }
  .markdown .p_container_single .p_1c_img {
    margin: 35px auto;
  }
}

@media (min-width: 1366px) {
  .markdown .p_container_single {
    width: 862px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .markdown .p_container_single p,
  .markdown .p_container_single h1,
  .markdown .p_container_single h2,
  .markdown .p_container_single h3,
  .markdown .p_container_single h4,
  .markdown .p_container_single h5,
  .markdown .p_container_single h6,
  .markdown .p_container_single blockquote,
  .markdown .p_container_single ul {
    width: 710px;
    margin-right: auto;
    margin-left: auto;
  }
  .markdown .p_container_single p {
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 30px;
  }
  .markdown .p_container_single h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: ;
    font-size: 24px;
    line-height: 34px;
    color: #000c19;
  }
  .markdown .p_container_single blockquote {
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 45px;
    font-family: ;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    background: #f4f6f6;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  .markdown .p_container_single pre,
  .markdown .p_container_single code {
    font-family: "CCI";
  }
  .markdown .p_container_single pre {
    width: 710px;
    margin: 25px auto 35px auto;
    padding: 35px;
    color: #aeaeae;
    font-size: 14px;
    line-height: 22px;
    background: #0b0b0c;
  }
  .markdown .p_container_single .p_2c_img {
    width: 862px;
    margin: 20px auto 35px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .markdown .p_container_single .p_2c_img .p_2c_left {
    width: 413px;
    height: auto;
    margin-right: 36px;
  }
  .markdown .p_container_single .p_2c_img .p_2c_right {
    width: 413px;
    height: auto;
  }
  .markdown .p_container_single .p_1c_img {
    width: 862px;
    margin: 35px auto;
  }
  .markdown .p_container_single .p_table {
    margin-bottom: 30px;
  }
}
