.__404 {
  background: #f6f6f6;
}

.__line {
  color: #000;
}

.__eCode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

@media (max-width: 767px) {
  .__404 {
    padding: 40px 30px;
  }
  .__line {
    font-size: 16px;
    line-height: 25px;
  }
  .__eCode {
    font-size: 130px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .__404 {
    padding: 100px 60px;
  }
  .__line {
    font-size: 18px;
    line-height: 25px;
  }
  .__eCode {
    font-size: 230px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .__404 {
    padding: 60px 50px;
  }
  .__line {
    font-size: 16px;
    line-height: 25px;
  }
  .__eCode {
    font-size: 180px;
  }
}

@media (min-width: 1366px) {
  .__404 {
    padding: 130px 0;
  }
  .__line {
    font-size: 18px;
    line-height: 28px;
  }
  .__eCode {
    font-size: 256px;
  }
}
