
.__grid
.__content
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
.p_c__blogCard

@media (max-width: 767px)     // Mobile
    .__grid
    .__content
        padding-top: 40px
        padding-bottom: 40px
        padding-left: 30px !important
        padding-right: 30px !important
    .p_c__blogCard

@media screen and (min-width: 768px) and (max-width: 1023px)    // Tablet
    .__grid
    .__content
        padding-top: 70px
        padding-bottom: 45px
        padding-left: 50px !important
        padding-right: 50px !important
    .p_c__blogCard

@media screen and (min-width: 1024px) and (max-width: 1365px)   // Retinal Device
    .__grid
    .__content
        padding-top: 100px
        padding-bottom: 75px
        padding-left: 60px !important
        padding-right: 60px !important
    .p_c__blogCard

@media screen and (min-width: 1366px) // Desktop Device and so on.
    .__grid
        padding-top: 130px
        padding-bottom: 130px
    .__content
    .p_c__blogCard
