.p_blog_grid
    .p_content
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        .p_blog_grid_card

.p_blog_grid_card  // Blog Grid card
    border: 1px solid hsla(0, 0%, 0%, 0.12)
    &:hover
        border: 1px solid #000000
    .p__meta
        margin-bottom: 10px
        font-size: 12px
        line-height: 14px
        color: #77797A
    .p__title_link
        text-decoration: none
        &:hover
            // text-decoration: underline
            .p__title
                color: #717171
        .p__title
            color: #000C19
    .p__excerpt
        color: #77797A
    .p__readmore
        text-decoration: underline
        color: #000C19
        font-weight: 500
        &:hover
            color: #77797A
@media screen and (min-width: 375px) and (max-width: 767px)     // Mobile
    .p_blog_grid
        padding-top: 70px
        padding-bottom: 45px
        .p_content
            .p_blog_grid_card
    .p_blog_grid_card  // Blog Grid card
        // width: 335px
        margin-bottom: 25px
        padding: 25px
        &:hover
        .p__meta
            margin-bottom: 6px
            font-size: 12px
            line-height: 14px
        .p__title_link
            &:hover
                .p__title
            .p__title
                margin-bottom: 15px
                font-size: 18px
                line-height: 24px
        .p__excerpt
            margin-bottom: 25px
            font-size: 14px
            line-height: 18px
        .p__readmore
            font-size: 14px
            line-height: 14px
            &:hover
@media screen and (min-width: 768px) and (max-width: 1023px)    // Tablet
    .p_blog_grid
        padding-top: 70px
        padding-bottom: 45px
        .p_content
            .p_blog_grid_card
    .p_blog_grid_card  // Blog Grid card
        width: 335px
        margin-bottom: 25px
        padding: 25px
        &:hover
        .p__meta
            margin-bottom: 6px
            font-size: 12px
            line-height: 14px
        .p__title_link
            &:hover
                .p__title
            .p__title
                margin-bottom: 15px
                font-size: 18px
                line-height: 24px
        .p__excerpt
            margin-bottom: 25px
            font-size: 14px
            line-height: 18px
        .p__readmore
            font-size: 14px
            line-height: 14px
            &:hover
@media screen and (min-width: 1024px) and (max-width: 1365px)   // Retinal Device
    .p_blog_grid
        padding-top: 100px
        padding-bottom: 75px
        .p_content
            .p_blog_grid_card
    .p_blog_grid_card  // Blog Grid card
        width: 439px
        margin-bottom: 35px
        padding: 35px
        &:hover
        .p__meta
            margin-bottom: 10px
            font-size: 12px
            line-height: 14px
        .p__title_link
            &:hover
                .p__title
            .p__title
                margin-bottom: 20px
                font-size: 24px
                line-height: 30px
        .p__excerpt
            margin-bottom: 35px
            font-size: 14px
            line-height: 18px
        .p__readmore
            font-size: 14px
            line-height: 14px
            &:hover
@media screen and (min-width: 1366px) // Desktop Device and so on.
    .p_blog_grid
        padding-top: 100px
        padding-bottom: 130px
        .p_content
            .p_blog_grid_card
    .p_blog_grid_card  // Blog Grid card
        width: 526px
        margin-bottom: 35px
        padding: 45px
        &:hover
        .p__meta
            margin-bottom: 10px
            font-size: 12px
            line-height: 14px
        .p__title_link
            &:hover
                .p__title
                    color: #717171
            .p__title
                margin-bottom: 20px
                font-size: 28px
                line-height: 34px
        .p__excerpt
            margin-bottom: 35px
            font-size: 14px
            line-height: 18px
        .p__readmore
            font-size: 14px
            line-height: 14px
            &:hover
