// Hero Section
.p_home_hero 
    .p_container 
        .p_title_hero
            text-align: center
            color: #000000
@media screen and (min-width: 1366px)    // Desktop Device
    .p_home_hero 
        padding: 165px 0 80px
        .p_container 
            .p_title_hero
                font-size: 92px
                line-height: 116px
            .p_download_cv
                margin-top: 130px
                .p__bt


@media screen and (min-width: 1024px) and (max-width: 1365px)   // Retinal Device
    .p_home_hero 
        padding: 105px 0 60px
        .p_container 
            .p_title_hero
                font-size: 72px
                line-height: 90px
            .p_download_cv
                margin-top: 70px
                .p__bt

@media screen and (min-width: 768px) and (max-width: 1023px)    // Tablet
    .p_home_hero 
        padding: 75px 0 40px
        .p_container 
            .p_title_hero
                font-size: 62px
                line-height: 110%
            .p_download_cv
                margin-top: 60px
                .p__bt

@media screen and (min-width: 425px) and (max-width: 767px)     // Mobile
    .p_home_hero 
        padding: 75px 0 40px
        .p_container 
            .p_title_hero
                font-size: 42px
                line-height: 110%
            .p_download_cv
                margin-top: 60px
                .p__bt

@media screen and (min-width: 375px) and (max-width: 425px)     // Mobile
    .p_home_hero 
        padding: 75px 0 40px
        .p_container 
            .p_title_hero
                font-size: 32px
                line-height: 110%
            .p_download_cv
                margin-top: 60px
                .p__bt

// About Section
.p_home_about
    .p_container
        .p_about_image
            transition: transform 0.25s ease-in-out
            will-change: transform 
            &:hover
                // transform: scale(1.05)
        .p_about_description
            display: flex 
            justify-content: space-between 
            align-items: flex-start
            .p_home__left 
                .p_subheading
                    font-style: normal
                    font-weight: bold
                    color: #4E545B
                .p_heading_2
            .p_home__right
                .p_body 
                    color: rgba(0, 0, 0, 0.8)
                .p_link
                    color: #000000
                    font-weight: 500
@media screen and (min-width: 1366px)   // Desktop Device
    .p_home_about
        padding: 0px 0 130px
        .p_container
            width: 1088px
            .p_about_image
                margin-bottom: 60px
                &:hover
            .p_about_description
                .p_home__left 
                    width: 300px
                    .p_subheading
                        font-size: 12px
                        line-height: 14px
                    .p_heading_2
                .p_home__right
                    width: 562px 
                    .p_body 
                        margin-bottom: 25px
                    .p_link
                        font-size: 14px
                        line-height: 16px
@media screen and (min-width: 1024px) and (max-width: 1365px)   // Retinal Device
    .p_home_about
        padding: 0px 0 80px
        .p_container
            // width: 1088px
            .p_about_image
                margin-bottom: 40px
                &:hover
            .p_about_description
                .p_home__left 
                    width: 323px
                    .p_subheading
                        font-size: 12px
                        line-height: 14px
                    .p_heading_2
                .p_home__right
                    width: 555px 
                    .p_body 
                        margin-bottom: 25px
                    .p_link
                        font-size: 14px
                        line-height: 16px
@media screen and (min-width: 768px) and (max-width: 1023px)    // Tablet
@media screen and (min-width: 425px) and (max-width: 767px)     // Mobile

// Featured Project Section 
.p_home_projects 
    padding: 130px 0 130px
    background: rgba(0, 0, 0, 0.05)
    .p_projects_header 
        .p_container 
            width: 823px
            margin-bottom: 80px
            text-align: center
            .p_subtitle_1 
                margin-bottom: 10px
            .p_heading
                font-weight: bold
                font-size: 48px
                line-height: 50px
                text-align: center
                letter-spacing: -0.01em
                color: #000000
    .p_projects_body 
        .p_projects_card 
            margin-top: 130px 
            &:first-of-type
                margin-top: 0
            .p_container 
                width: 1088px
                display: flex
                justify-content: space-between
                align-items: center
            &:nth-child(odd)
                .p_container 
                    .p_card_left 
                        width: 413px
                    .p_card_right
                        width: 562px
            &:nth-child(even)
                .p_container 
                    flex-direction: row-reverse
                    .p_card_left 
                        width: 413px
                    .p_card_right
                        width: 562px
            .p_image
            .p_subtitle_1
                margin-bottom: 10px
            .p_heading
                margin-bottom: 15px
                color: #000000
            .p_body
                margin-bottom: 25px
            .p_link
                color: #000000
@media screen and (min-width: 1366px)   // Desktop Device
@media screen and (min-width: 1024px) and (max-width: 1365px)   // Retinal Device
@media screen and (min-width: 768px) and (max-width: 1023px)    // Tablet
@media screen and (min-width: 425px) and (max-width: 767px)     // Mobile

.p_home_blog 
    padding: 130px 0 105px
    .p_blog_header 
        .p_container 
            width: 823px
            margin-bottom: 80px
            text-align: center
            .p_subtitle_1 
                margin-bottom: 10px
            .p_heading
                font-weight: bold
                font-size: 48px
                line-height: 50px
                text-align: center
                letter-spacing: -0.01em
                color: #000000
    .p_blog_body
        .p_container 
            display: flex 
            justify-content: space-between
@media screen and (min-width: 1366px)   // Desktop Device
@media screen and (min-width: 1024px) and (max-width: 1365px)   // Retinal Device
@media screen and (min-width: 768px) and (max-width: 1023px)    // Tablet
@media screen and (min-width: 425px) and (max-width: 767px)     // Mobile