@use './_fonts'
@use './_typography'
@import './table.style'
@import './button.style'
@import './navigation.style'
@import './home.style'
@import './single.style'
@import './_component.sass'

// Global 
*
    margin: 0
    padding: 0
*, *:before, *:after
    box-sizing: border-box

::selection
    color: #FFFFFF
    background: #000000

body
    // cursor: none
    // font-family: "Neue Haas Grotesk Display Pro"
    font-family: 'Inter', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 16px
    color: #4D4D4D
    background: #FFFFFF

h1, h2, h3, h4, h5, h6
    font-style: normal
    font-weight: bold

img
    max-width: 100%

form
    .p__row
        width: 100%
        margin-bottom: 20px
        display: flex
        flex-direction: column
    label
        margin-bottom: 8px
        font-weight: bold
        font-size: 14px
        line-height: 22px
        color: #000C19
    input
        margin-bottom: 6px
        padding-bottom: 6px
        font-size: 16px
        line-height: 24px
        color: #000C19
        border-top: none
        border-right: none
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.12)
        border-left: none
        outline: none
        &:active, &:focus
            border-bottom: 1px solid #000000
        &.__err
            border-bottom: 1px solid #ff3f3f
    textarea
        height: 100px
        padding: 10px
        font-size: 16px
        line-height: 24px
        border: 1px solid hsla(0, 0%, 0%, 0.12)
        outline: none
        &:active, &:focus
            border: 1px solid #000C19
        &.__err
            border: 1px solid #ff3f3f
    .p__error
        font-weight: 400
        font-size: 14px
        line-height: 22px
        color: #ff3f3f

// ===========================
// Reusable classes
// ===========================
.p__im
    list-style: none
    li
        display: inline-block

// ===========================
// Components 
// ===========================

// .p_page_banner  // Page Banner
//     width: 100%
//     min-height: 100vh
//     position: relative
//     overflow: hidden
//     .p_img_wrapper
//         // height: 547.72px
//         height: 100%
//         min-height: 100vh

.p_contact_form
    .p_header
        .p__subtitle
            color: #000C19
            text-transform: uppercase
            font-family: 'NHaasGroteskDSPro'

    .p_content
        display: flex
        justify-content: space-between
        align-items: flex-start
        .p__left
            width: 100%
            max-width: 526px
        .p__right
            width: 100%
            max-width: 449px
            .p_right_content
                .p__title
                    color: #000C19
                    border-bottom: 1px solid hsla(0, 0%, 0%, 0.12)
                    &:first-of-type
                        margin-top: 0
                .p__list
                    list-style: none
                    li
                        font-weight: normal
                        color: #999999
                        a
                            font-weight: normal
                            color: #000000
                            text-decoration: underline
                            &:hover
                                color: #999999
                p
                    font-weight: normal
                    color: #000C19

@media (max-width: 767px)
    .p_contact_form
        padding-top: 40px
        padding-bottom: 40px
    .p_header
        margin-bottom: 30px
        padding: 0 30px
        .p__subtitle
            font-size: 28px
            line-height: 34px

    .p_content
        padding: 0 30px
        flex-direction: column
        gap: 50px
        .p__left
        .p__right
            .p_right_content
                .p__title
                    margin-top: 20px
                    margin-bottom: 10px
                    padding-bottom: 6px
                    font-size: 14px
                    line-height: 22px
                .p__list
                    li
                        margin-bottom: 10px
                        font-size: 14px
                        line-height: 24px
                        a
                            font-size: 14px
                            line-height: 24px
                p
                    margin-top: 20px
                    font-size: 14px
                    line-height: 24px

@media (min-width: 768px) and (max-width: 1023px)
    .p_contact_form
        padding-top: 60px
        padding-bottom: 60px
    .p_header
        padding: 0 50px
        .p__subtitle
            max-width: 526px
            margin-bottom: 20px
            margin-left: auto
            margin-right: auto
            font-size: 28px
            line-height: 34px

    .p_content
        padding: 0 50px
        flex-direction: column
        justify-content: center !important
        align-items: center !important
        gap: 50px
        .p__left
            width: 100%
            max-width: 526px
        .p__right
            width: 100%
            max-width: 526px !important
            .p_right_content
                .p__title
                    margin-top: 20px
                    margin-bottom: 10px
                    padding-bottom: 6px
                    font-size: 14px
                    line-height: 22px
                .p__list
                    li
                        margin-bottom: 10px
                        font-size: 14px
                        line-height: 24px
                        a
                            font-size: 14px
                            line-height: 24px
                p
                    margin-top: 20px
                    font-size: 14px
                    line-height: 24px

@media (min-width: 1024px) and (max-width: 1365px)
    .p_contact_form
        padding-top: 100px
        padding-bottom: 100px
    .p_header
        margin-bottom: 30px
        padding: 0 80px
        .p__subtitle
            font-size: 28px
            line-height: 34px

    .p_content
        padding: 0 80px
        gap: 50px
        .p__left
        .p__right
            .p_right_content
                .p__title
                    margin-top: 20px
                    margin-bottom: 10px
                    padding-bottom: 6px
                    font-size: 14px
                    line-height: 22px
                .p__list
                    li
                        margin-bottom: 10px
                        font-size: 14px
                        line-height: 24px
                        a
                            font-size: 14px
                            line-height: 24px
                p
                    margin-top: 20px
                    font-size: 14px
                    line-height: 24px

@media (min-width: 1366px)
    .p_contact_form
        padding-top: 130px
        padding-bottom: 130px
    .p_header
        margin-bottom: 30px
        .p__subtitle
            font-size: 32px
            line-height: 34px

    .p_content
        .p__left
            max-width: 526px
        .p__right
            max-width: 449px
            .p_right_content
                .p__title
                    margin-top: 30px
                    margin-bottom: 10px
                    padding-bottom: 6px
                    font-size: 14px
                    line-height: 22px
                .p__list
                    list-style: none
                    li
                        margin-bottom: 10px
                        font-size: 16px
                        line-height: 24px
                        a
                            font-size: 16px
                            line-height: 24px
                p
                    margin-top: 20px
                    font-size: 16px
                    line-height: 24px

footer
    padding-top: 75px
    padding-bottom: 35px
    background: #000C19
    .p_content
        margin-bottom: 95px
        display: flex
        justify-content: space-between
        .p__left
            width: 50%
            .p_img_wrapper
                width: 35px
                height: auto
                margin-bottom: 20px
            .p_slug
                font-size: 38px
                line-height: 48px
                letter-spacing: -0.01em
                color: #FFFFFF
        .p__right
            .p_menu
                li
                    margin-right: 35px
                    &:last-of-type
                        margin-right: 0
                    a
                        font-size: 14px
                        line-height: 17px
                        color: #FFFFFF
    .p_copyright
        border-top: 1px solid rgba(255, 255, 255, 0.1)
        p
            margin-top: 10px
            font-weight: normal
            font-size: 14px
            line-height: 16px
            color: #FFFFFF
// ===========================
// Pages 
// ===========================

// ===========================
// Single Article
// ==========================

.p_navaigation_articles
    background: #fff
    .p_header
        h2
            font-family: 'NHaasGroteskDSPro'
            letter-spacing: -0.01em
            color: #000C1A

    .p_content
        display: flex
        justify-content: space-between
        align-items: center
        .p_c__blogCard
            width: 100%
            max-width: 526px

@media (max-width: 767px)
    .p_navaigation_articles
        padding: 40px 0
        .p_header
            margin-bottom: 20px
            h2
                margin-bottom: 10px
                font-size: 28px
                line-height: 34px

        .p_content
            .p_c__blogCard

@media (min-width: 768px) and (max-width: 1023px)
    .p_navaigation_articles
        padding: 60px 0
        .p_header
            margin-bottom: 20px
            h2
                margin-bottom: 10px
                font-size: 28px
                line-height: 34px

        .p_content
            flex-direction: row
            .p_c__blogCard

@media (min-width: 1024px) and (max-width: 1365px)
    .p_navaigation_articles
        padding: 80px 0
        .p_header
            margin-bottom: 20px
            h2
                margin-bottom: 10px
                font-size: 28px
                line-height: 34px

        .p_content
            .p_c__blogCard

@media (min-width: 1366px)
    .p_navaigation_articles
        padding: 100px 0
        .p_header
            h2
                margin-bottom: 35px
                font-size: 38px
                line-height: 48px
                text-transform: uppercase

        .p_content
            .p_c__blogCard
                // width: 526px
