@use './_fonts'
@use './_typography'
@import './about.style'


// Global 
* 
    margin: 0
    padding: 0
*, *:before, *:after 
    box-sizing: border-box

body 
    // cursor: none
    font-family: 'Neue Haas Grotesk Display Pro'
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 20px
    color: #000C19
    background: #fff

h1, h2, h3, h4, h5, h6
    font-style: normal 
    font-weight: bold

form 
    .p__row 
        width: 100%
        margin-bottom: 20px
        display: flex 
        flex-direction: column
    label 
        margin-bottom: 8px
        font-weight: bold
        font-size: 14px
        line-height: 22px
        color: #000C19
    input 
        margin-bottom: 6px
        font-size: 16px
        line-height: 24px
        color: #000C19
        border-top: none 
        border-right: none
        border-bottom: 1px solid rgba(0, 12, 25, 0.3)
        border-left: none
        outline: none
        &:active, &:focus, &:valid
            border-bottom: 1px solid #000C19
        &.__err
            border-bottom: 1px solid #ff3f3f
    textarea 
        height: 100px
        padding: 10px
        font-size: 16px
        line-height: 24px
        border: 1px solid rgba(0, 12, 25, 0.3)
        outline: none
        &:active, &:focus
            border: 1px solid #000C19
        &.__err
            border: 1px solid #ff3f3f
    .p__error 
        font-weight: 400
        font-size: 14px
        line-height: 22px
        color: #ff3f3f
    
.p__submit 
    overflow: hidden
    font-size: 14px
    line-height: 24px
    border-radius: 50px
    color: #fff
    background: #000
    padding: 9px 32px
    border: 1px solid #000
    font-weight: 700
    &::before
        content: ''
        background: #fff
        width: 120%
        height: 0
        padding-bottom: 120%
        top: -110%
        left: -10%
        border-radius: 50%
        transform: translate3d(0,68%,0) scale3d(0,0,0)
        poosition: absolute
    &::after
        content: ''
        background: #fff
        transform: translate3d(0,-100%,0)
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    span
        display: block
        position: relative
        mix-blend-mode: difference
        z-index: 10

    &:hover 
        span
            animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s

        ::before
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
            transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1)


        ::after
            transform: translate3d(0, 0, 0)
            transition-duration: 0.05s
            transition-delay: 0.4s
            transition-timing-function: linear

@keyframes MoveScaleUpInitial
  to
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1)
    opacity: 0

@keyframes MoveScaleUpEnd
  from
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1)
    opacity: 0

  to
    transform: translate3d(0, 0, 0)
    opacity: 1
// ===========================
// Reusable classes
// ===========================
.p__im 
    list-style: none
    li 
        display: inline-block

// ===========================
// Components 
// ===========================
.p__cursor 
    width: 10px
    height: 10px
    border: 2px solid rgba(0, 12, 25, 0.2)
    background: #ffffff
    border-radius: 100%
    position: fixed
    transition: all ease-in-out
    transform: translate(-50%, -50%)
    pointer-events: none
    z-index: 999
    mix-blend-mode: difference
    display: block 
    .p__inner
        width: 20px
        height: 20px
        border: 2px solid #000C19
        background: #e20000
        border-radius: 100%
        position: fixed
        transition: .5s ease-in-out
        transform: translate(-50%, -50%)
        pointer-events: none
        z-index: 9999
        mix-blend-mode: difference


.p_container  // Container
    width: 1088px 
    margin-right: auto 
    margin-left: auto 


header // Main Navigation Bar
    padding-top: 25px
    .p_navigation_bar 
        .p_container 
            display: flex 
            justify-content: space-between 
            align-items: center
            .p_brand 
                font-weight: bold
                font-size: 20px
                line-height: 25px
            .p_navigation_menu 
                li 
                    margin-right: 35px 
                    &:last-of-type
                        margin-right: 0
                    a 
                        font-size: 16px
                        line-height: 20px


.p_page_header // Page Header
    padding-top: 150px 
    padding-bottom: 130px
    .p_content 
        width: 972px
        .p_heading
            width: 972px
            margin-left: 0
            margin-right: auto
            margin-bottom: 10px
            font-size: 14px
            line-height: 24px
            color: rgba(0, 12, 26, 0.7)
            font-family: "Neue Haas Grotesk Display Pro"
        .p_subheading 
            width: 972px
            margin-left: 0
            margin-right: auto
            font-size: 48px
            line-height: 50px
            color: #000C19

.p_page_banner  // Page Banner
    width: 100%


.p_blog_grid_card  // Blog Grid card
    height: 100%
    padding: 45px
    border: 1px solid rgba(0, 12, 25, 0.3)
    .p__meta 
        margin-bottom: 10px
        font-size: 12px
        line-height: 14px
        color: rgba(0, 12, 25, 0.7)
    .p__title 
        margin-bottom: 20px
        font-size: 28px
        line-height: 34px
        color: #000C19
    .p__excerpt 
        color: rgba(68, 68, 68, 0.8)
        margin-bottom: 35px
        font-size: 14px
        line-height: 18px
    .p__readmore 
        font-size: 14px
        line-height: 14px
        text-decoration: underline
        color: #000C19

.p_blog_grid 
    padding-top: 130px
    padding-bottom: 130px
    .p_content 
        display: flex 
        justify-content: space-between 
        align-items: center 
        flex-wrap: wrap
        .p_blog_grid_card
            width: 526px
            margin-bottom: 35px

.p_contact_form 
    padding-top: 130px
    padding-bottom: 130px
    .p_header 
        margin-bottom: 35px
        .p__title
            margin-bottom: 10px
            font-size: 12px
            line-height: 14px
            color: #4E545B
        .p__subtitle
            font-size: 38px
            line-height: 34px
            color: #000C19

    .p_content 
        display: flex 
        justify-content: space-between 
        align-items: flex-start
        .p__left 
            width: 526px
        .p__right 
            width: 449px
            .p_right_content 
                .p__title 
                    margin-top: 20px
                    margin-bottom: 10px
                    font-size: 14px
                    line-height: 22px
                    color: #000C19
                    &:first-of-type
                        margin-top: 0
                .p__list 
                    list-style: none
                    li 
                        margin-bottom: 10px
                        font-weight: normal
                        font-size: 16px
                        line-height: 24px
                        color: #000C19
                        a 
                            font-weight: normal
                            font-size: 16px
                            line-height: 24px
                            color: #000C19
                            text-decoration: underline
                p 
                    margin-top: 20px
                    font-weight: normal
                    font-size: 16px
                    line-height: 24px
                    color: #000C19

.p_about_body 
    padding-top: 130px
    padding-bottom: 130px

footer 
    padding-top: 75px
    padding-bottom: 35px
    background: #000C19
    .p_content
        margin-bottom: 95px
        display: flex
        justify-content: space-between 
        .p__left 
            width: 50%
            .p_img_wrapper 
                width: 35px
                height: auto
                margin-bottom: 20px
            .p_slug 
                font-size: 38px
                line-height: 48px
                letter-spacing: -0.01em
                color: #FFFFFF
        .p__right
            .p_menu 
                li 
                    margin-right: 35px 
                    &:last-of-type
                        margin-right: 0
                    a 
                        font-size: 14px
                        line-height: 17px
                        color: #FFFFFF
    .p_copyright 
        border-top: 1px solid rgba(255, 255, 255, 0.1)
        p 
            margin-top: 10px
            font-weight: normal
            font-size: 14px
            line-height: 16px
            color: #FFFFFF
// ===========================
// Pages 
// ===========================


// ===========================
// Single Article
// ===========================
.p_single_header 
    padding-top: 130px
    padding-bottom: 70px
    .p_container
        width: 862px
        .p_meta_cat 
            margin-bottom: 10px
            font-weight: bold
            font-size: 14px
            line-height: 14px
            color: rgba(0, 12, 25, 0.7)
        .p__title
            margin-bottom: 10px
            font-weight: bold
            font-size: 48px
            line-height: 50px
            color: #000C19
        .p_meta_date
            font-weight: normal
            font-size: 14px
            line-height: 14px
            color: rgba(0, 12, 26, 0.7)
.p_single_content 
    .p_container_single 
        width: 862px
        margin: 0 auto
        padding-top: 70px
        padding-bottom: 30px
        border-bottom: 1px solid rgba(0, 12, 25, 0.3)

        p, h2, blockquote
            width: 710px
            margin-right: auto
            margin-left: auto 
        p  
            margin-bottom: 15px
            color: rgba(0, 12, 25, 0.8)
        h2 
            margin-top: 10px
            margin-bottom: 10px
            font-size: 24px
            line-height: 30px
            color: #000C19
        blockquote 
            margin-top: 20px
            margin-bottom: 35px
            padding: 35px
            font-weight: normal
            font-size: 15px
            line-height: 24px
            color: #000C19
            background: #F4F6F6
        pre  
            width: 710px
            margin: 25px auto 35px auto
            padding: 35px
            color: #AEAEAE
            font-size: 14px
            line-height: 22px
            background: #0b0b0c
        .p_2c_img
            width: 862px
            margin: 20px auto 35px auto
            display: flex
            justify-content: space-between 
            align-items: center 
            .p_2c_left 
                width: 413px
                height: auto
                margin-right: 36px
            .p_2c_right
                width: 413px
                height: auto
        .p_1c_img
            width: 862px
            margin: 35px auto

.p_single_update 
    .p_container_single
        width: 862px
        margin: 20px auto 130px auto
        p 
            font-weight: normal
            font-size: 12px
            line-height: 14px
            color: #000C19

.p_navaigation_articles 
    padding: 130px 0
    background: #F0F7FF
    .p_header 
        h2 
            margin-bottom: 35px
            font-size: 38px
            line-height: 48px
            letter-spacing: -0.01em
            color: #000C1A

    .p_content
        display: flex 
        justify-content: space-between
        align-items: center
        .p_blog_grid_card 
            width: 526px
