// Header
header
    .p_navigation_bar
        .p_c__container
            display: flex
            justify-content: space-between
            align-items: center
        // &.p_fixed 
        //     position: fixed
        //     top: 25px
        //     left: 0 
        //     right: 0
@media screen and (min-width: 425px) and (max-width: 767px)
    header
        .p_navigation_bar
            .p_c__container
@media screen and (min-width: 768px) and (max-width: 1023px)
    header
        .p_navigation_bar
            .p_c__container
@media screen and (min-width: 1024px) and (max-width: 1365px)
    header
        .p_navigation_bar
            .p_c__container
@media screen and (min-width: 1366px)
    header
        .p_navigation_bar
            .p_c__container
            // &.p_fixed
            //     z-index: 999
            //     .p_c__container
            //         .p_brand 
            //             margin-left: -30px
            //         .p_menu_tog 
            //             margin-right: -30px
