// NAVIGATION

// Header
header // Main Navigation Bar
    padding-top: 25px
    .p_navigation_bar 
        .p_container 
            display: flex 
            justify-content: space-between 
            align-items: center
            .p_brand 
                font-weight: bold
                font-size: 20px
                line-height: 25px
                color: #000C19
                text-decoration: none
            .p_navigation_menu 
                li 
                    margin-right: 35px 
                    &:last-of-type
                        margin-right: 0
                    a 
                        font-size: 16px
                        line-height: 20px
                        text-decoration: none
                        color: #000C19
