.p_table 
    width: 100%
    border-collapse: collapse
    tr 
        
        td
            padding-top: 15px 
            padding-bottom: 15px
            border-bottom: 1px solid hsla(0, 0%, 0%, 0.12)
            &.__left
                text-align: left 
                color: #000000
            &.__center 
                text-align: center
            &.__right 
                text-align: right
        &:first-of-type
            td
                padding-top: 0
        &:last-of-type 
            td
                padding-bottom: 0
                border-bottom: 0
